*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 70vw;
    min-height: 70vh;
    margin: auto;
    background-color: cyan;
    display:grid;
    grid-template-columns: auto auto auto; 
    gap: 50px 100px;
    
}

.grid-items{
    margin: 5px;
    border: 2px solid red;
    background-color: antiquewhite;
   
}