*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
.container{
    display:grid;
     grid-template-areas: 'logo logo logo logo' 'video video video video' 'img img1 img2 img3';
}
.logo{grid-area: logo;}
.video{grid-area: video;}
.img{grid-area: img;}
.img1{grid-area: img1;}
.img2{grid-area: img2;}
.img3{grid-area: img3;}

@media(max-width:786.98px){
    .container{
     grid-template-areas: 'logo logo ' 'video video' 'img img1' 'img2 img3';
    }
    img{margin: auto;}
}
@media(max-width:460.98px){
    .container{
     grid-template-areas: 'logo' 'video' 'img' 'img1' 'img2' 'img3';
    }
    img{margin: auto;}
}