*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
.container{
    margin: auto;
    display:grid;
    align-content: space-evenly;
    grid-template-columns: auto;
    flex-flow: row wrap;
    
}
.log{
    width: 250px;
}

.logo{
    height: fit-content;
    width: 1920px;
}

.video{
    width: 1920px;
    height: fit-content;
    margin: auto;
}
.images{
   margin: auto;
 
}

@media only screen and (max-width:767.98px){
    .images{
        flex: 1;
    }
}