@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');
/* font-family: 'Heebo', sans-serif; */
.a{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.one{
    background-image: #333535;
    height: 550px;
}
.two{
    margin-left: 50%;
    padding: 15px;
    margin-top: -55px;
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 1cm;
}
h3{
    margin-left: 3cm;
    margin-top: -1.75cm;
    color: rgb(155, 70, 235);
}
h4{
    text-align: center;
    margin-top: 3cm;
    color: white;
}
h5{
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 100;
    margin-top: -1cm;
    color: white;
}