@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');
/* font-family: 'Heebo', sans-serif; */
.a{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.two{
    margin-left: 50%;
    padding: 15px;
    margin-top: -55px;
}
.ody{
    background-image: url(../images/3.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 1cm;
}
h3{
    margin-left: 3cm;
    margin-top: -1.75cm;
    color: rgb(155, 70, 235);
}
h4{
    text-align: center;
    margin-top: 3cm;
    color: white;
}
h5{
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 100;
    margin-top: -1cm;
    color: white;
}
.button {
    background-image: linear-gradient(rgb(13, 13, 105), purple);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: -4cm;
    margin-left: 23.5cm;
    cursor: pointer;
}
.b{
  padding: 5cm;
    background-color: #333535;
    height: 20px;
    
}
.three{
  color: aliceblue;
  width: 20%;
  margin-top: -4cm;
  padding: 10px;
}
.four{
  color: aliceblue;
  width: 20%;
  margin-left: 25%;
  margin-top: -9.2cm;
  padding: 10px;
}
.five{
  color: aliceblue;
  width: 20%;
  margin-left: 50%;
  margin-top: -8.7cm;
  padding: 10px;
}
.six{
  color: aliceblue;
  width: 20%;
  margin-left: 75%;
  margin-top: -8.7cm;
  padding: 10px;
}
.f{
  margin-left: 3cm ;
  size: 3px;
}
.e{
  margin-left: 3cm ;
}
.c{
  margin-left: 3cm ;
}
.d{
  margin-left: 3cm ;
}
.about{
  margin-top: 5cm;
}
.what .b2,.b3,.b4{
  background-image: linear-gradient(rgb(13, 13, 105), purple);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 3cm
}
.what .b2{
  margin-left: 25%;
}
.we p{
  color: aliceblue;
  text-align: center;
  font-size: larger; 
  padding: 1cm 3cm 5cm 5cm;
  font-family: 'Heebo', sans-serif;
}
